.welcome {
    background-image: url(../images/backgrounds/sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    padding-top: 150px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

#about {
    font-family: 'Righteous', cursive;
}

#service {
    background-image: url(../images/backgrounds/portfolio2.jpg);
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    padding-top: 150px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

#portfolio {
    text-align: center;
    align-content: center;
    position: relative;
    font-family: 'Righteous', cursive;
}


}
#portfolio img {
    margin: 10px 10px 30px 10px;
    opacity: 1.0;
}
#portfolio img:hover {
    opacity: 0.5;
}
.contact {
    background-image: url(../images/backgrounds/contact1.jpeg);
    background-size: cover;
    color: white;
    font-family: 'Righteous', cursive;
}
input {
    width: 100%;
    background-color: transparent;
}
::placeholder {
    color: white;
    background: transparent;
}
textarea {
    resize: none;
    background-color: transparent;
    color: white;
}
button {
    background-color: transparent;
    color: white;
}